.bannerMain {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    padding: 18px;
    max-width: 1200px;
    h1,p,button {
        text-align: left;
    }
    h1 {
        font-family:
            Times New Roman,
            Times,
            serif;
        font-size: 5rem;
        font-weight: 500;

    }
    p {
        max-width:600px;
        height: auto;
        font-weight: 400;
        font-size: 1.5rem;
        color: #242424;
        letter-spacing: 1px;
    }
    button {
        padding: 8px 50px;
        border-radius: 25px;
        outline: none;
        font-size: 20px;
        color: white;
        background-color: #191919;
        border-style: hidden;
        font-weight: 400px;
        border: 1px solid #191919;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}
