.cardBlogContainer {
    @media screen and (max-width: 900px) {
        order: 2;
        margin-top: 10px;
        .cardBlog {
            gap: 10px;
            .cardTitle {
                margin-bottom: 5px;
                margin-top: 5px;
            }
            .cardComment {
                font-size: 0.8em;
                margin-bottom: 5px;
            }
            .cardBottom {
                font-size: 0.4em;
            }
        }
    }
}
