.signUpContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    .signBody {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 75%;
        margin:0 auto; 
        .signContainer {
            display: flex;
            justify-content: center;
            position: relative;
            border: 2px solid black;
            border-radius: 26px;
            padding: 5px 25px;
            .signUpIcon {
                position: absolute;
                left: 0;
            }
        }
    }
}
