.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    .signBody {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 75%;
        width: 100%;
        margin: 0 auto;
        .signContainer {
            &:hover{
                color:grey;
                transition: 1s all;
                cursor: pointer;
            }
            display: block;
            text-align: center;
            justify-content: center;
            position: relative;
            border: 1px solid black;
            border-radius: 26px;
            padding: 5px 50px;
            width: 100%;
            margin-bottom: 5px;
            .signUpIcon {
                position: absolute;
                left: 5px;
                top: 25%;
            }
        }
    }
    .exitButton{
        position: absolute;
        cursor: pointer;
        right: 2px;
        top: 30px;
    }
}
